@model Project01.Models.employee

@{
    ViewBag.Title = "Delete";
}

<div class="page-titleContainer">
    <h2 class="page-title">Elimina departamento</h2>
</div>

<h3>Are you sure you want to delete this?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.emp_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.emp_Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.emp_Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.department.dpt_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.department.dpt_Description)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger btn-sm" /> |
        @Html.ActionLink("Listado", "Index", null, null, new { @class = "btn btn-primary btn-sm" })
    </div>
    }
</div>
